body{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240522/pngtree-abstract-gold-scratches-on-a-black-background-image_15685278.jpg);
    color: #fbfbfb;
}
#ans{
}
button{
    list-style: none;
    /*grid-row: auto;*/
    border-radius: 5%;
    border: none;
    background-color: rgba(230, 230, 234, 0.712);
    cursor: pointer;
    /*justify-content: space-between;*/
    padding: 3%;    
}
li{
    list-style: none;
    justify-content: left;

}
#game-area{
    border-radius: 10%;
    padding: 20%;
    border: none;
    background-color: rgba(18, 18, 20, 0.318);
    width: fit-content;
    align-items:start;
    justify-content: left;
    object-fit: contain;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    margin: 5%;
    border-color: aqua;
    border: crimson;
    height: 30%;
    width: 100%;
    background-color: rgba(43, 44, 44, 0.51);
    border-radius: 10%;
}
.cards img{
    width: auto;
    height: 100px;
    border-radius: 10%;
    object-fit: contain;
}
.cards img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/*.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    margin: 5%;
    border-color: aqua;
    border: crimson;
    height:100px;
    background-color: rgb(102, 9, 102);
}
*/